#second-floor{
    width: 300px;
    height: 300px;
    background-color:  rgba(83, 83, 223, 0.642);

}
#first-floor{
    width: 200px;
    height: 200px;
    background-color: rgba(48, 188, 106, 0.642);
}
#ground-floor{
    width: 100px;
    height: 100px;
    background-color: rgba(208, 135, 26, 0.642)
}